---
import { sanityClient } from 'sanity:client';

import { cn } from '@/lib/utils';

import { contactSectionQuery } from '@/lib/sanity/queries';
import type { ContactSectionQueryResult } from '@/lib/sanity/queries';
import { ContactForm } from './ContactForm';

const contactSection = await sanityClient.fetch<ContactSectionQueryResult>(contactSectionQuery);
---

{
  contactSection && (
    <section
      id="contact"
      class={cn(
        'relative -mt-0.5 overflow-hidden bg-background-secondary',
        'scroll-mt-10 md:scroll-mt-15 lg:scroll-mt-20'
      )}
    >
      <div class="pointer-events-none absolute -left-10 top-43 h-36 w-36 rounded-full bg-brand/35 blur-3xl" />
      <div class="pointer-events-none absolute bottom-40 right-0 h-32 w-32 rounded-full bg-brand/20 blur-3xl" />

      <div class="section-wrapper relative py-16">
        <div class="flex flex-col gap-12.5 items-center lg:flex-row lg:items-start lg:gap-30">
          <div class="flex-1 max-w-lg">
            <h2 class="text-4xl md:text-5xl lg:text-6xl text-center md:text-start font-bold mb-10 md:mb-15 lg:mb-20">
              <a href="#contact">{contactSection.title}</a>
            </h2>
            <p class="body-text text-center mx-auto md:text-start md:mx-0 mb-6 lg:mb-8">
              {contactSection.introText}{' '}
              <a
                href={`mailto:${contactSection.emailAddress}`}
                class="font-semibold text-brand underline decoration-current decoration-2 underline-offset-4 focus-visible:rounded-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand"
              >
                {contactSection.emailAddress}
              </a>
              .
            </p>
            <p class="body-text text-center mx-auto md:text-start md:mx-0 mb-6 lg:mb-8">
              {contactSection.formText}
            </p>
          </div>
          <ContactForm
            className="flex-1 max-w-lg w-full"
            emailAddress={contactSection.emailAddress}
            submitButtonLabel={contactSection.submitButtonLabel}
            client:idle
          />
        </div>
      </div>
    </section>
  )
}
