---
import { sanityClient } from 'sanity:client';

import { cn } from '@/lib/utils';

import { contactSectionQuery } from '@/lib/sanity/queries';
import type { ContactSectionQueryResult } from '@/lib/sanity/queries';
import { ContactForm } from './ContactForm';

const contactSection = await sanityClient.fetch<ContactSectionQueryResult>(contactSectionQuery);
---

{
  contactSection && (
    <section
      id="contact"
      class={cn('bg-background-secondary', 'scroll-mt-10 md:scroll-mt-15 lg:scroll-mt-20')}
    >
      <div class="section-wrapper py-16 flex flex-col gap-12.5 items-center lg:flex-row lg:gap-30 max-w-md lg:items-start">
        <div class="flex-1 max-w-lg">
          <h2 class="text-4xl md:text-5xl lg:text-6xl text-center lg:text-start font-bold mb-10 lg:mb-15 xl:mb-20">
            <a href="#contact">{contactSection.title}</a>
          </h2>
          <p class="body-text text-center mx-auto lg:text-start lg:mx-0 mb-6 lg:mb-8">
            {contactSection.introText}{' '}
            <a href={`mailto:${contactSection.emailAddress}`} class="text-brand hover:underline">
              {contactSection.emailAddress}
            </a>
            .
          </p>
          <p class="body-text text-center mx-auto lg:text-start lg:mx-0 mb-6 lg:mb-8">
            {contactSection.formText}
          </p>
        </div>
        <ContactForm
          className="flex-1 max-w-lg w-full"
          emailAddress={contactSection.emailAddress}
          submitButtonLabel={contactSection.submitButtonLabel}
          client:idle
        />
      </div>
    </section>
  )
}
