---
import { sanityClient } from 'sanity:client';

import { Image } from 'astro:assets';

import swoop from '@/assets/swoop.svg';

import { projectsSectionQuery } from '@/lib/sanity/queries';
import type { ProjectsSectionQueryResult } from '@/lib/sanity/queries';
import type { Project } from './ProjectsSection.types';
import { ProjectCarousel } from './ProjectCarousel';
import { ProjectGrid } from './ProjectGrid';

const projectsSection = await sanityClient.fetch<ProjectsSectionQueryResult>(projectsSectionQuery);

const projects: Project[] =
  projectsSection?.projects
    .filter((project) => project.isVisible !== false)
    .filter((project) => project.image?.asset?.url)
    .map((project) => ({
      id: project._key,
      imgSrc: project.image?.asset?.url || '',
      imgAlt: project.image?.alt || `${project.title} screenshot`,
      title: project.title,
      technologies: project.technologies,
      projectUrl: project.projectUrl,
      sourceCodeUrl: project.sourceCodeUrl,
    })) || [];
---

{
  projectsSection && projects.length > 0 && (
    <section id="projects" class="scroll-mt-10 md:scroll-mt-15 lg:scroll-mt-20">
      <div class="section-wrapper py-16">
        <h2 class="text-4xl md:text-5xl lg:text-6xl text-center md:text-start font-bold mb-10 md:mb-15 lg:mb-20">
          <a href="#projects">{projectsSection.title}</a>
        </h2>

        <div class="block md:hidden">
          <ProjectCarousel projects={projects} client:visible />
        </div>
        <div class="hidden md:block">
          <ProjectGrid projects={projects} client:visible />
        </div>
      </div>
      <Image class="-mb-0.25 w-full mt-16" src={swoop} alt="" loading="eager" decoding="auto" />
    </section>
  )
}
